.App {
  text-align: center;
}

/* editor */

.MemoEdit {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}

.MemoEdit input,
textarea {
  margin-bottom: 20px;
  width: 500px;
}

.MemoEdit input {
  padding: 10px;
}
.MemoEdit textarea {
  padding: 10px;
  height: 150px;
}

.MemoEdit select {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.MemoEdit button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
}

.ListView {
  padding: 20px;
  text-align: center;
}

.Item {
  background-color: rgb(240, 240, 240);
  margin-bottom: 10px;
  padding: 20px;
}

.Item span {
  margin-right: 10px;
}

.Item .info {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.Item .content {
  font-weight: bold;
}

.Item textarea {
  padding: 10px;
}

.dark{
  background-color: #202124;
  color: white;
}

.light{
  background-color: #fefefe;
  color: #202124,
}

/* 추가 css */