.App {
  text-align: center;
}

/* editor */

.MemoEdit {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}

.MemoEdit input,
textarea {
  margin-bottom: 20px;
  width: 500px;
}

.MemoEdit input {
  padding: 10px;
}
.MemoEdit textarea {
  padding: 10px;
  height: 150px;
}

.MemoEdit select {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.MemoEdit button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
}

