h1, h2 {
    color: red;
}

#title {
    font-size: 60px;
    border-bottom: 2px solid red;
}

.sub-title{
    font-size: 30px;
}

div p{
    font-size: 10px;
}
.content{
    font-size: 20px;
}
#css-content{
    font-size: 25px;
}

div p{
    font-size: 15px;
}

div{
    width:100%;
    max-width: 500px;
    margin: 0 auto;
}

.boo1 {
    background-color: red;
    display: inline-block;
    color: white;
}

.boo2{
    background-color: green;
    display: inline-block;
    color: white;
}


.float-box{
    display: flex;
}
.float-box div{
    width: 100px;
    height: 100px;
    text-align: center;
}

.f1{
    background-color: rgba(55, 88, 237);
}
.f2 {
    background-color: pink;
}