:root{
  --primary-color: #727368;
  --primary-color-light: #858679;
  --secondary-color: #A6998F;
  --secondary-color-light: #bbada1;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --gray-color: #808080; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5,h6{
  color: var(--primary-color);
}

.primary-btn{
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: bold;
}
.primary-btn:hover{
  background-color: var(--primary-color-light);
}

.secondary-btn{
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--white-color);
  font-weight: bold;
}
.secondary-btn:hover{
  background-color: var(--secondary-color-light);
}
